.body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;

}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    display: block;
}

a {
    text-decoration: none;

}

::after {
    width: 100%
}

.header {
    border-bottom: 1px solid #e7e9fc;
    /* display: flex; */
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.container {
    max-width: 320px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
    /* width: 1158px;
    margin: 0 auto;
     */
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        /* padding-left: 16px;
        padding-right: 16px;
        margin-left: auto;
        margin-right: auto; */
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
        /* padding-left: 16px;
        padding-right: 16px;
        margin-left: auto;
        margin-right: auto; */
    }
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.spisoc {
    display: flex;
    margin: auto;
    align-items: center;

}

.logo-type {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;

}

.firstscroll {
    display: flex;
    gap: 40px;
}


@media only screen and (max-width: 767.98px) {
    .firstscroll {
        display: none;
    }
}


.secondscroll {
    display: flex;
    gap: 40px;
}


@media only screen and (min-width: 768px) {
    .secondscroll {
        display: block;
    }
}

@media only screen and (min-width: 1158px) {
    .secondscroll {
        display: flex;
    }
}

@media only screen and (max-width: 767.98px) {
    .secondscroll {
        display: none;
    }
}


.sppart {
    color: #2e2f42
}

.list-nav {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: block;
    padding: 24px 0;
    position: relative;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: block;
}

.list:hover {
    color: #404bbf;

}

.list:focus {
    color: #404bbf;
}

.list-nav::after {
    position: absolute;
    content: '';
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}

.adress {
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.adress:hover {
    color: #404bbf;
}

.adress:focus {
    color: #404bbf;
}

.secondlist {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: block;
}

.sectionone {
    background-color: #2e2f42;
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/img-name.jpeg);
    max-width: 1440px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
}

.title {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    max-width: 496px;
    margin: auto;
    margin-bottom: 48px;
}

.button {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover {
    background-color: #404BBF;
}

.button:focus {
    background-color: #404BBF;
}

.sectiontwo {
    padding-top: 30px;
    padding-bottom: 120px;
    /* padding: 120px 0; */
}

@media screen and (min-width: 768px) {
    .sectiontwo {}
}

@media screen and (min-width: 1158px) {
    .sectiontwo {
        padding: 120px 0;
    }

}

.secondlist:hover {
    color: #404bbf;
}

.secondlist:focus {
    color: #404bbf;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


.thirdscroll {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    padding: 0;
    margin: 0;
    justify-content: center;
}

.listtwo {
    width: 288px;
    /* display: flex;
    width: 288px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px; */
    /* width: calc((100% - 72px) / 4); */
}

@media screen and (min-width: 768px) {
    .listtwo {
        width: calc((100% - 72px) / 2);

    }
}

@media screen and (min-width: 1158px) {
    .listtwo {
        width: calc((100% - 72px) / 4);
    }
}

.icons-in-section-two {
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #f4f4fd;
    border-radius: 4px;

}

@media screen and (min-width: 768px) {
    .icons-in-section-two {
        visibility: hidden;
    }
}

@media screen and (min-width: 1158px) {
    .icons-in-section-two {
        visibility: visible;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 112px;
        background-color: #f4f4fd;
        border-radius: 4px;
        margin-bottom: 8px;
    }
}

.icons {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;

}

.t-two {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}


@media screen and (min-width: 768px) {
    .t-two {
        text-align: left;
    }
}

@media screen and (min-width: 1158px) {
    .t-two {
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
    }
}


.personal-name {
    color: #2E2F42;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
}

/* .firstparagraf {
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
} */
.firstparagraf {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.secondparagraf {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
    gap: 8px;
}

.sectionthird {
    background-color: #F4F4FD;
    padding: 120px 0;
    /* padding: 120px 0; */

}

@media screen and (min-width: 768px) {
    .sectionthird {
        padding: 120px 0;
        ;
    }
}

@media screen and (min-width: 1158px) {
    .sectionthird {
        padding: 120px 0;

    }
}

.ourteam {
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 72px;
    /* font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    margin-bottom: 72px;
    text-align: center; */
}

@media only screen and (min-width: 768px) {
    .ourteam {

        text-align: center;
    }
}

@media only screen and (min-width: 1158px) {
    .ourteam {
        text-align: center;





    }
}

.forthscroll {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    padding: 0;
    margin: 0;
    justify-content: center;
}

.teamlist {
    /* width: 100%; */
    /* max-width: 288px; */
    /* width: calc((100% - 72px) / 4); */
    text-align: center;
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);

}

@media screen and (min-width: 768px) {
    .teamlist {
        width: calc((100% - 72px) / 2);
    }


}

@media screen and (min-width: 1158px) {
    .teamlist {
        width: calc((100% - 72px) / 4);
    }


}

.picture {
    width: 288px;

}

@media screen and (min-width: 768px) {
    .picture {
        width: 332px;
    }


}

@media screen and (min-width: 1158px) {
    .picture {
        width: 264px;
    }


}

.social-networks {
    display: flex;
    justify-content: center;
    gap: 24px;



}

.popular-networks {
    width: 40px;
    height: 40px;

}

.link-popular-network {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 32px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.link-popular-network:hover,
.link-popular-network:focus {
    background-color: #404bbf;
}

.icons-popular-network {
    fill: #f4f4fd;
}

.listcontainer {
    padding: 32px 0;

}

.sectionforth {
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfoliotitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;

    margin-bottom: 8px;
}

.fifthscroll {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    padding: 0;
    margin: 0;
    justify-content: center;
}

.portfoliolist {
    /* width: calc((100% - 48px) / 3); */
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
    .portfoliolist {
        width: calc((100% - 48px) / 2);
    }


}

@media screen and (min-width: 1158px) {
    .portfoliolist {
        width: calc((100% - 48px) / 3);
    }


}

.portfoliolist:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);

}

.portfolio-images {
    width: 288px;
    height: 280px;
}

@media screen and (min-width: 768px) {
    .portfolio-images {
        width: 356px;
        height: 300px;
    }


}

@media screen and (min-width: 1158px) {
    .portfolio-images {
        width: 360px;
        flex-shrink: 0;
    }


}

.image-container {
    position: relative;
    overflow: hidden;

}

.paragraf-picture {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

li:hover p {
    transform: translateY(0%);
}

.portfoliocontainer {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;

}

.footer {
    background-color: #2e2f42;
    padding: 96px 0;
}
@media only screen and (max-width: 767.98px) {
    .footer {
        text-align: center;
    }
}
.footer
.logo-type-second {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
    display: block;
}
@media only screen and (min-width: 768px) and (max-width: 1199.98px) {
    .footer-container {
        padding: 0 108px;
    }
}
@media only screen and (min-width: 768px) {
    .footer-container {
        display: flex;
        flex-wrap: wrap;
        gap: 72px 24px;
    }
}
@media only screen and (min-width: 1158px) {
    .footer-container {
        
        gap: 0;
    }
}

@media only screen and (max-width: 767.98px) {
    .block-footer {
        margin-bottom: 72px;
    }
}
@media only screen and (min-width: 768px) {
    .block-footer {
        max-width: 264px;
    }
}
@media only screen and (max-width: 767.98px) {
    .footer-social-media {
        margin-bottom: 72px;
    }
}
@media only screen and (min-width: 1158px) {
    .footer-social-media {
        margin-right: auto;
    }
}
@media only screen and (max-width: 767.98px) {
    .container-form {
        margin-bottom: 72px;
    }
}


.sppart-second {
    color: #f4f4fd;
}

/* .container-footer {
    width: 375px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    align-items: baseline;
} 
@media only screen and (min-width: 768px) {
    .container-footer {
        max-width: 736px;
    }
}  */
.block-footer {
    
    /* margin: auto; */
    /* margin-right: 120px; */
    
}
@media only screen and (min-width: 1158px) {
    .block-footer {
        margin-right: 120px;
    }
}

.footerparagraf {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    /* max-width: 264px; */
    text-align: left;
}


.second-footer-paragraf {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
    
}

.footer-social-networks {
    display: flex;
    justify-content: center;
    gap: 16px;
    
}


.footer-list {
    width: 40px;
    height: 40px;
}

.footer-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover,
.footer-link:focus {
    background-color: #31d0aa;
}

.footer-icons {
    fill: #f4f4fd;
}
.paragraf-form {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.place-post {
    display: flex;
    flex-wrap: wrap;
    gap: 16px 24px;
    justify-content: center;
}
@media only screen and (min-width: 768px) {
    .container-form {
        flex-wrap: nowrap;
        max-width: 453px;
        width: 100%;
    }
}
.sticker {
    width: 100%;
}
@media only screen and (min-width: 768px) {
    .sticker {
        max-width: 264px;
    }
}
.e-mail {
    width: 100%;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    outline: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;

}

.placeholder {
    color: #ffffff;
}

.subscribe-button {
    
    padding: 8px 24px;
    border-radius: 4px;
    background-color: #4D5AE5;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* letter-spacing: 0.02em; */
    height: 40px;
    min-width: 165px;
    /* 
    
    height: 40px;
    display: flex; */
    /* justify-content: center; */
    
    
    color: #ffffff;
    cursor: pointer;
    
    border: none;
    
}

.subsribe-footer-icons {
    margin-left: 16px;
}

.container-modal-window {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateX(-110%);
    transition: transform 300ms ease;
}

.modal-window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 288px;
    min-height: 623px;
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
}
@media only screen and (min-width: 768px) {
    .modal-window {
        width: 408px;
        min-height: 584px;
    }
    
}

.window-cross {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.window-cross:hover,
.window-cross:focus {
    background-color: #404bbf;
    border: none;

}

.modal-icons {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.window-cross:hover,
.window-cross:focus {
    fill: #ffffff
}

.modal-paragraf {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 16px;
}

.form-modal-window {
    margin-bottom: 8px;
}

.first-field {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;

}

.container-field-icons {
    position: relative;
}

.input-field {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-field:focus {
    border-color: #4D5AE5;
}

.modal-icons-field {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-icons-fields {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.forth-form {
    margin-bottom: 16px;

}

.field-text {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.field-text:focus {
    border-color: #4D5AE5;
}

.check-box {
    margin-bottom: 24px;
}

.privacy {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.second-part-privacy {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
}

.footer-checkbox:checked+.privacy .second-part-privacy {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}

.footer-checkbox-link {
    color: #4d5ae5;
}

.modal-window-button {
    display: block;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: auto;
}

.menu-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
}

@media only screen and (min-width: 768px) {
    .menu-btn {
        display: none;
    }
}

.mobile-menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 72px 16px 40px;
    transform: translateX(-100%);
    transition: transform 300ms ease, visibility 300ms ease;
    visibility: hidden;
}
.mobile-menu.is-open {
    transform: translateX(0);
    visibility: visible;
}

.mobile-menu .menu-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    border: 1px solid #e7e9fc;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    width: 24px;
    height: 24px;
}

.mobile-menu-item:not(:last-child) {
    margin-bottom: 40px;
}

.mobile-menu-list {
    margin-bottom: auto;
}

.mobile-menu-link {
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    color: var(--NAVY-BLUE, #2E2F42);
}


.mobile-menu-link.current {
    color: #404bbf;
}

.mobile-menu-contacts {
    margin-bottom: 48px;
}

.mobile-menu-contacts .mobile-menu-item:not(:last-child) {
    margin-bottom: 24px;
}

.mobile-menu-contact {
    color: #434455;

    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
}

.mobile-menu-contact.accent {
    color: #4d5ae5;
}

.mobile-menu-socials {
    gap: 40px;

}

.mobile-menu-socials .footer-social-networks {
    border-radius: 50%;
}