.body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    
}
img {
    display: block;
}
.header {
    border-bottom: 1px solid #e7e9fc;

}
.container {
    display: flex;
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}
.spisoc {
    display: flex;;
    align-items: center;
}
.logo-type {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}
.firstscroll {
    display: flex;
    gap: 40px;
}
.secondscroll {
    display: flex;
    gap: 40px;
}
.sppart {
    color: #2e2f42
}
.list {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;

}
.list:hover {
    color: #404bbf;
        
}
.list:focus {
    color: #404bbf;
}
.adress {
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.adress:hover {
    color: #404bbf;
}
.adress:focus {
    color: #404bbf;
}
.sectionone {
    background-color: #2e2f42;
    padding: 188px 0;
}
.title {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    max-width: 496px;
}
.button {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    background-color: #4d5ae5;
    border-radius: 4px;
}
.button:hover {
    background-color: #404BBF;
}
.button:focus {
    background-color: #404BBF;
}
.sectiontwo {
    padding: 120px 0;
}
.secondlist {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.secondlist:hover {
    color: #404bbf;
}
.secondlist:focus {
    color: #404bbf;
}
.importantthing {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    
}
h2.visually-hidden
.t-two {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.firstparagraf {
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.sectionthird {
    background-color: #F4F4FD;
}
.ourteam {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}
.teamlist {
    background-color: #FFFFFF;
}
.footer {
    background-color: #2e2f42;
}
.logo-type-second {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;

}
.sppart-second {
    color: #f4f4fd;
}
.footerparagraf {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
}
